.header {
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 24px;
    height: 75px;
    background-color:#70AF85;
    border-style:double;
}

.headerli {
    color: #FDFFBC; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headerli a {
    color: aliceblue; 
    font-family:'Courier New', Courier, monospace;
    text-decoration:none;
}

.headerli a:hover {
    text-decoration:underline;
}